@media(max-width:1024px){

.cards-grid{
grid-template-columns:repeat(2,1fr);
}

.productos-grid{
grid-template-columns:repeat(2,1fr);
}

.beneficios-grid{
grid-template-columns:repeat(2,1fr);
}

.instagram-grid{
grid-template-columns:repeat(2,1fr);
}

.footer-grid{
grid-template-columns:repeat(2,1fr);
}

.proveedores-grid{
grid-template-columns:1fr;
}

}

@media(max-width:768px){

.hero-content h1{
font-size:2.5rem;
}

.cards-grid{
grid-template-columns:1fr;
}

.productos-grid{
grid-template-columns:1fr;
}

.beneficios-grid{
grid-template-columns:1fr;
}

.instagram-grid{
grid-template-columns:1fr;
}

.footer-grid{
grid-template-columns:1fr;
}

.navbar{
flex-direction:column;
gap:20px;
}

.menu{
flex-wrap:wrap;
justify-content:center;
}

.faq-card{
min-width:300px;
}

.comprar-card{
min-width:250px;
}

.batatica-wrapper{
height:auto;
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
}

.nube{
position:relative;
top:auto;
left:auto;
right:auto;
bottom:auto;
}

}

@media(max-width:480px){

.hero{
height:75vh;
}

.hero-content h1{
font-size:2rem;
}

.hero-buttons{
flex-direction:column;
}

.btn-primary,
.btn-secondary{
width:100%;
}

.top-bar{
font-size:.9rem;
}

.producto-card img{
height:250px;
}

.proveedor-info h2{
font-size:2rem;
}

.instagram h2,
.faq h2,
.comprar h2,
.beneficios h2,
.productos h2{
font-size:2rem;
}

}