*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Segoe UI',sans-serif;
background:#fff;
color:#333;
}

.container{
width:90%;
max-width:1300px;
margin:auto;
}

img{
width:100%;
display:block;
}

a{
text-decoration:none;
}

.whatsapp-float{

position:fixed;

width:60px;
height:60px;

bottom:25px;
right:25px;

background:#25D366;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

box-shadow:0 10px 25px rgba(0,0,0,.2);

z-index:999;

transition:.3s;



}




.whatsapp-float:hover{

transform:scale(1.1);

box-shadow:0 15px 35px rgba(0,0,0,.3);

}

.whatsapp-float i{

color:#fff !important;

font-size:38px !important;

}